*{
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  font-size: 30px;
}
h2 {
  text-align: center;
  font-size: 25px;
}
p {
  font-size: 18px;
}


/*navigation*/

  header {
  display: flex;
  justify-content: space-between; 
  background-color: white;
 } 

 .logo {
  height: 8vh;
  width: auto;
  align-items: center;
  z-index: 1;
 }
  
  header > nav {
  display: none; /* skjuler nav-elementet i mobil-versionen */
 }
 
nav ul {
  color: #000;
  text-align: center;
  font-size: 22px;
  list-style: none; 
}

nav li {
  padding-bottom: 1em;
}

nav a {
  color:#000;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

  /* drop down menuen*/  
.show {
  display: block;
  z-index: 1;
  position: absolute;
  top: 49px;
  right: 10;
  background-color: white; 
  width: 100%;
}

 button#bars {
  background-color: transparent;
  border: none;
  color: #000;
}

/* indhold på forsiden*/

.hero {
  background-color: #000;
  position: relative;
  width:100%;
  height: 25vh;
  overflow: hidden;
}


.hero-video {
  position: absolute;
  opacity: 30%;
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: 0;
}

.hero-content {
  position: relative;
  z-index: 0;
  color: white;
  border:color#000 1vh;
  text-align: center;
  top: 30%;
  
}

.forsidetekst {
 margin: 10px 0;
}

.button1 {
  padding: 1.5rem;
  width: 420px;
  text-align: center;
}

.forsidetekst, .forsidetekst p {
text-align: center;
padding: 15px 40px;
}

/*indhold på forside*/ 
/*boksen*/
.container {
  margin:0 auto;
  position:relative;
  border-bottom: 3px #000 solid;
  padding: 10px;
  text-align: center;
}

.container img {
  width: 50%;
  height: auto;
  margin: 1em;
}

.larmere {
  background-color: #407D65;
  height: 55px;
  width: 250px;
  border-radius: 100px;
  margin-top: 2vh;
}

.larmere a{
  color:white;
  font-size: 25px;
  text-decoration: none;
}

main section:nth-child(3) {
  background-color: #9dc8b7;
  padding-top: 2em;
  padding-bottom: 2em;
}

.sektion3 img{
  width: 40vh;
  display: block; 
  margin: 0 auto;
  padding: 1.5em;
}

.sektion3 p {
  position:relative;
  padding: 15px 20px;
  text-align: center;
}

.sektion3 .larmere {
  display: block;
   width: 70%;
   margin: 0 auto 1.5em auto;
}

/* Lær mere siden */
.larmereoverskrift {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.larmereimg {
  width:100%;
  height: 300px;  
  object-fit: cover;  
  object-position: center;
  padding-top: 1em;
  padding-bottom: 1em;
}
.tekst1 p, .tekst2 p, .tekst3 p, .tekst4 p, .tekst5 p, .tekst6 p, .tekst7 p, .tekst11 p {
  margin-bottom: 20px;
}

.tekst1, .tekst2, .tekst3, .tekst4, .tekst5, .tekst6, .tekst7, .tekst11 h3 {
  padding-bottom: 2em;
  font-size: 20px;
  margin-left: 1em;
  margin-right: 1em;
}

.tekst11, .vaskeguide {
  background-color: #9dc8b7;
  margin:0;
  width: 100%;
  padding-top:2em;
  padding-bottom: 2em;
}


/* Billeder på lær mere siden */
.larmereimg2{
  display: none;
}
.larmereimg3 {
  width: 40vh;
  height: auto;
  display: flex;
  margin: auto;
  margin-bottom: 5vh;
}

.img5 {
  width: 80vw;
  height:auto;
  margin-left: 1em;
  margin-right: 1em;
}

.forskel {
  text-align: center;
  font-size: 20px;
  padding:1em;
}

/* dit tøj siden */
.dittojoverskrift, .dittojoverskrift1 {
  margin: 1em;
  font-size: 20px;
}
 
.vaskeguide p, .vaskeguide h3{
margin-left: 1em;
margin-bottom: 1em;
}

/*kontakt os siden*/

.contact-img {  
  width: 100%;
  height: 225px;
  object-fit: cover;
}

.contact-section {
  display: grid;
  grid-template-rows: auto auto auto; /* 3 sektioner: header, info, form */
  gap: 50px; 
  text-align: center;
}

/*-kontakt info sektionen-*/

.contact-info {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: auto auto;
  gap: 20px;
}

.phone, .email {
  font-size: 40px;
  color: #3f745e;
}

.info-text {
  display: grid;
  gap: 5px;
}

.info-text a {
  color: black;
}

/*kontakt formen*/
.kontaktform {
  border-radius: 5px;
  background-color: #70a38f;
  padding: 1.3em;
  width: 90%;
  margin: 0 auto;
}

input[type=text], input[type=email], input[type=tel], input[type=adress], select, textarea {
	width: 100%;
	padding: 1em;
	border: 1px solid #000000;
	border-radius: 4px;
	margin-top: 0,5em;
	margin-bottom: 1em;
}

select, input[type=checkbox], input[type=radio], input[type=submit] {
	cursor: pointer;
}
fieldset {
	border-color: #3f745e;
	border-style: solid;
	margin-bottom: 1em;
}

input[type=checkbox] {
	margin: 0,8em 0;
}

input[type=submit] {
  background-color: #3f745e;
  color: white;
  border: none;
  padding: 15px 40px;
  font-size: 16px;
  border-radius: 40px;
	width: 15em;
}

input[type=submit]:hover {
	background-color: #213e32;
}


/* til screenreaderen*/
.visually-hidden{ 
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/* --- KNAP --- */
button {
  background-color: #3f745e;
  color: white;
  border: none;
  padding: 15px 40px;
  font-size: 16px;
  border-radius: 40px;
  cursor: pointer;
}

button:hover {
  background-color: #3E6857;
}

/*footeren*/

.footer {
  left: 0;
  bottom: 0;
  background-color: #FF5A39 ;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 2em;
  padding: 2rem 1rem;
}

.footer div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer a{
  color:rgb(0, 0, 0);
  font-size: 16px;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}


/* pc */
@media screen and (min-width:769px) {
  #bars {
    display:none
  }

 header > nav {
  display:flex /* skjuler nav-elementet i mobil-versionen */
  }
   
  nav {   
  padding: 0%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;
}

.logo{
  display: flex;
  margin-top: 15px;
  margin-left: 15px;
  width: 30vh;
  height: auto;
}

nav ul {
  color: #000;
  display: flex;
  justify-content: flex-end;
  font-size: 22px;    
}

nav a {
  color:#000;
  text-decoration: none;
  display: inline-block;
  padding: 2em;
}

/* main på forsiden */
.hero {
  position: relative;
  width:100%;
  height:60vh;
  overflow: hidden;
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.hero-content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  top: 40%;
  padding:1em;
}

.hero p {
  font-size: 22px;
}

.contact-img{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 280px;
  object-fit: cover;
  z-index: 0;
}

.container {
  border-bottom: 0vh;
}
    
 main section:nth-of-type(3){
  width: 100vw;
  margin: 0 auto;
  margin-top: 8vh;
}

.sektion3{
  display: flex;
  gap: 1em;
}

.sektion3 img{
  width: 50%;
  padding-right: 1em;
}
.sektion3 p{
  margin-top: 5vh;
  text-align: start;
 }
  
.sektion3 .larmere{
  margin-top: 30vh;
  }

/* lær mere siden */

.overst {
  text-align: start;
}
.larmereimg {
  width: 100%;
  height: 60vh;
  object-fit: cover;  
  object-position:center 45%;
   }

.tekst3, .larmereimg2 {
  margin-bottom: 2em;
  }

.tekst1 h3, .tekst2 h3, .tekst3 h3, .tekst4 h3, .tekst5 h3, .tekst6 h3, .tekst7 h3, .tekst11 h3 {
  display: flex; 
  justify-content: center;
  margin-left: 0em;
}

.tekst1 p, .tekst2 p, .tekst3 p, .tekst4 p, .tekst5 p, .tekst6 p, .tekst7 p {
  margin-left: 5em ;
  margin-right: 5em;
}

.tekst3flex, .larmereimg2, .tekst5flex, .img5{
  display: flex;
  gap: 1em;
}

.tekst3flex img, .tekst5flex .img5{
  margin-top: 1em;
  width: 65vh;
  }
  
.larmereimg3 {
  display:none;
}

/*dit tøj siden*/
.vaskeguide p, .vaskeguide h3{
  display: flex;
  justify-content: center;
}

/*kontakt siden*/
.kontaktform {
  width: 50%;
  height: auto;
 }
 /*footeren*/
.footer {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 2em 1em;
  padding: 2rem 1rem;
  flex-wrap: wrap;
}

}